body {
    margin: 0px;
}

p {
    /*font_family*/font-family: 'Lucida Console', Monaco, monospace;
}

.navbar {
    overflow: hidden;
    /*navbar*/background-color: crimson;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 10px;
    height: 80px;
}

.title {
    /*title*/color: white;
    font-size: 24px;
    margin-left: 20px;
}

.date {
    float: right;
    margin-right: 50px;
    font-size: 18px;
    /*date*/color: black;
    margin-top: 30px;
}

#side-nav {
    position: fixed;
    width: 350px;
    height:100vh;
    overflow-y: scroll;
    padding: 30px;
    /*list_container*/background-color:rgb(50,50,50);
    top: 100px;
}

.list_of_contents {
    /*list_of_contents_title*/color: white;
    font-size: 18px;
    margin-top: 0px;
    /* margin-top: -60px; */
}

.folder {
    /*folder*/color:gainsboro;
    font-size: 12px;
    margin-top: 20px;
}

.script_link_wrapper {
    text-decoration: none;
}

.script_link {
    /*list_of_contents*/color: skyblue;
    font-size: 12px;
    margin-top: 20px;
    width: 290px;
    /* word-wrap: break-word; */
}

.padding-bottom-lists {
    height: 150px;
}

#content-wrapper {
    margin: 100px 0 0 350px;
    padding: 0 30px;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height:100vh;
    /*content_container*/background-color:#000;
}

.script_name {
    /*script_name*/color: white;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 0px;
    padding-top: 30px;
}

.type {
    /*type*/color: red;
    font-size: 14px;
    margin-top: 30px;
}

.name {
    /*name*/color: gold;
}

.description {
    /*description*/color: lightgray;
}

.param_type {
    /*param_type*/color: greenyellow;
    font-size: 12px;
    margin-top: 10px;
}

.param_name {
    /*param_name*/color: gold;
    font-size: 14px;
}

.param_description {
    /*param_description*/color: darkgray;
    font-size: 14px;
}

.padding-bottom-contents {
    height: 115px;
}